@import "mixins";
@import "./elements/header.scss";
@import "./elements/footer.scss";
@import "./elements/homepage.scss";
@import "./elements/register-page.scss";
@import "./elements/login-page.scss";
@import "./elements/booking.scss";
@import "./elements/admin-registration.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: $background-color;
}

::placeholder {
  font-size: 1rem;
}

.error {
  margin: 0;
  font-size: 1rem;
  word-break: keep-all;
  width: 80vw;
}
