<div class="header-container">

  {{! INLOGGAD SOM STÄDARE }}
  {{#if cleanerLoggedIn}}
    <a href="/boka-stadning">Boka städning</a>
    <a href="/">Hem</a>
    <a href="/registrera-konto">Registrera kundkonto</a>
    <a href="/logga-in">Logga in</a>
    <a href="/logga-in-stadare">Logga in städare</a>
    <a href="/registrera-stadare">Registrera städare</a>
    <a href="#contact">Kontakt</a>
  {{else}}

    {{! INLOGGAD SOM KUND }}
    {{#if customerLoggedIn}}
      <a href="/boka-stadning">Boka städning</a>
      <form action="/log-out" method="post">
        <input type="submit" value="LOG OUT" />
      </form>

    {{else}}

      {{! INLOGGAD SOM ADMIN }}
      {{#if adminLoggedIn}}
        <h2>ADMIN</h2>
        <a href="/boka-stadning">Boka städning</a>
        <a href="/registrera-konto">Registrera kundkonto</a>
        <a href="/registrera-stadare">Registrera städare</a>
        <form action="/log-out" method="post">
          <input type="submit" value="LOG OUT" />
        </form>

      {{else}}

        {{! UTLOGGAD }}
        <a href="/logga-in">Logga in</a>
        <a href="/registrera-konto">Registrera kundkonto</a>
        <a href="#contact">Kontakt</a>

      {{/if}}
    {{/if}}
  {{/if}}

</div>
{{!-- 
<div class="header-container">

  {{#if cleanerLoggedIn}}{{/if}}

  {{#if customerLoggedIn}}
    <a href="/boka-stadning">Boka städning</a>
  {{/if}}

  {{#if adminLoggedIn}}{{/if}}
</div> --}}

<div id="menu">
  <div id="menu-bar" onclick="menuOnClick()">
    <div id="bar1" class="bar"></div>
    <div id="bar2" class="bar"></div>
    <div id="bar3" class="bar"></div>
  </div>
  <nav class="nav" id="nav">
    <ul>
      <li><a href="/">Hem</a></li>
      <li><a href="/registrera-konto">Registrera kundkonto</a></li>
      <li><a href="/registrera-stadare">Registrera städare</a></li>
      <li><a href="#contact">Kontakt</a></li>
    </ul>
  </nav>
</div>

<div class="menu-bg" id="menu-bg"></div>