<div class="header-container">
  <a href="/boka-stadning">Boka städning</a>
  <a href="/">Hem</a>
  <a href="/registrera-konto">Registrera kundkonto</a>
  <a href="/registrera-stadare">Registrera städare</a>
  <a href="#contact">Kontakt</a>
</div>

<div id="menu">
  <div id="menu-bar" onclick="menuOnClick()">
    <div id="bar1" class="bar"></div>
    <div id="bar2" class="bar"></div>
    <div id="bar3" class="bar"></div>
  </div>
  <nav class="nav" id="nav">
    <ul>
      <li><a href="/">Hem</a></li>
      <li><a href="/registrera-konto">Registrera kundkonto</a></li>
      <li><a href="/registrera-stadare">Registrera städare</a></li>
      <li><a href="#contact">Kontakt</a></li>
    </ul>
  </nav>
</div>

<div class="menu-bg" id="menu-bg"></div>