<div class="logo-container">
  <a href="/"><img src="/assets/Loga.png" alt="stada fint logo" /></a>
  <h2>St채daFint AB</h2>
</div>

<div class="services-container">
  <div class="service">
    <img src="/assets/Kund.png" alt="Kund portal" />
    <a href="/login">Kund</a>
  </div>
  <div class="service">
    <img src="/assets/St채dare.png" alt="St채dare portal" />
    <a href="/registrera-stadare">St채dare</a>
  </div>
  <div class="service">
    <img src="/assets/Admin.png" alt="Admin portal" />
    <a href="/admin/register">Admin</a>
  </div>
</div>

{{#if loggedIn}}
  <p>LOGGED IN AS {{firstName}}</p>
{{/if}}