<h2>/// HOME</h2>
{{#if customerLoggedIn}}

<p>Hello</p>

{{/if}}

<div class="bubble-container">

  <div class="bubble-one">
    <div class="bubble-highlight"></div>
  </div>

  <div class="bubble-two">
    <div class="bubble-highlight"></div>
  </div>
  <div class="bubble-three">
    <div class="bubble-highlight"></div>
  </div>

  <div class="bubble-four">
    <div class="bubble-highlight"></div>
  </div>
</div>