<h2>/// HOME</h2>
{{!-- simon la till här --}}
{{#if customerLoggedIn}}

<p>Hello customer</p>

{{/if}}
{{#if adminLoggedIn}}

<p>Hello admin</p>

<p>{{adminUsername}}</p>

{{/if}}
{{!-- till hit --}}

<div class="bubble-container">

  <div class="bubble-one">
    <div class="bubble-highlight"></div>
  </div>

  <div class="bubble-two">
    <div class="bubble-highlight"></div>
  </div>
  <div class="bubble-three">
    <div class="bubble-highlight"></div>
  </div>

  <div class="bubble-four">
    <div class="bubble-highlight"></div>
  </div>
</div>