<div class="wrapper">
  <div class="logo-container">
    <a href="/"><img src="/assets/Loga.png" alt="stada fint logo" /></a>

    <div class="error-container">
      <div class="error-message">
        <h2>Ajdå, något gick fel!</h2>
        <p><a href="/">Klicka här för att komma till startsidan!</a></p>
      </div>
    </div>
  </div>

</div>