<form action="/boka-stadning" method="post">
  <input type="text" name="firstName" placeholder="Förnamn" /><br />
  <input type="text" name="lastName" placeholder="Efternamn" /><br />
  <input type="text" name="streetName" placeholder="Gata" /><br />
  <input type="text" name="postalCode" placeholder="Postnummer" /><br />
  <input type="text" name="city" placeholder="Ort" /><br />
  <input type="date" name="date" /><br />
  <input type="submit" value="Boka" />
</form>