<form action="/admin/register" method="post">
  <input type="text" name="adminUsername" placeholder="E-post" /><br />
  <input type="password" name="adminPassword" placeholder="Lösenord" /><br />
  <input type="submit" value="Registrera konto" />
</form>