
<div class="logo-container">
  <a href="/"><img src="/assets/Loga.png" alt="stada fint logo" /></a>
  {{! <h2>StädaFint AB</h2> }}
</div>
 {{#if personalLoggedIn}}
    <p>LOGGED IN AS {{personalUsername}}</p>

    <form action="/log-out" method="post">
      <input type="submit" value="LOG OUT" />
    </form>

  {{else}}
    <p>NOT LOGGED IN</p>
  {{/if}}


<div class="login-wrapper">
  <div class="login-container">
    <h2>Logga in</h2>
    <form action="/personal-inlogg" method="post">
      <input type="number" name="personalUsername" placeholder="📧 E-post {{emailWrongFormat}}" />

      <input type="password" name="personalPassword" placeholder="🔒 Lösenord " />

      <p class="error">{{loginError}}</p>
      <input type="submit" value="Logga in" class="submit-btn" />
    </form>

 
  </div>