<h2>Registrera konto</h2>

<form action="/register-customer" method="post">
  <input type="text" name="email" placeholder="E-post" /><br />
  <input type="password" name="password" placeholder="Lösenord" /><br />
  <input
    type="password"
    name="confirmPassword"
    placeholder="Bekräfta lösenordet"
  /><br />
  <input type="text" name="firstName" placeholder="Förnamn" /><br />
  <input type="text" name="lastName" placeholder="Efternamn" /><br />
  <input type="text" name="streetName" placeholder="Gata" /><br />
  <input type="text" name="postalCode" placeholder="Postnummer" />
  <input type="text" name="city" placeholder="Ort" /><br />
  <input type="submit" value="Registrera konto" />
</form>