.header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  top: 1rem;
  gap: 1rem;
  padding-right: 1rem;
  position: absolute;
}
@media (max-width: 768px) {
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    display: none;
  }
}
.header-container a {
  text-decoration: none;
  color: black;
}
.header-container a:hover {
  color: gray;
}

.logout-btn {
  outline: none;
  border: none;
  background: none;
  font-size: 1rem;
}

input:hover[type=submit] {
  color: gray;
}

@media (min-width: 992px) {
  #menu {
    display: none;
  }
}

@media (min-width: 768px) {
  #menu {
    display: none;
  }
}

@media (max-width: 768px) {
  #menu {
    z-index: 2;
  }

  #menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
  }

  .bar {
    height: 5px;
    width: 100%;
    background-color: white;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }

  #bar1 {
    transform: translateY(-4px);
  }

  #bar3 {
    transform: translateY(4px);
  }

  .nav {
    transition: 0.3s ease;
    display: none;
  }

  .nav ul {
    padding: 0 22px;
  }

  .nav li {
    list-style: none;
    padding: 12px 0;
  }

  .nav li a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    word-break: break-all;
  }

  .nav li a:hover {
    font-weight: bold;
  }

  .menu-bg,
#menu {
    top: 0;
    left: 0;
    position: absolute;
  }

  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #d2dbcd, #d2dbcd);
    border: 3px solid #899f7f25;
    border-radius: 50%;
    transition: 0.6s ease;
  }

  .change {
    display: block;
  }

  .change .bar {
    background-color: white;
  }

  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }

  .change #bar2 {
    opacity: 0;
  }

  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }

  .change-bg {
    width: 1100px;
    height: 1100px;
    transform: translate(-60%, -30%);
  }
}
/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  right: 0px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: white;
  border-radius: 1rem;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  background-color: #a7d0ab;
  padding: 1rem;
  border-radius: 1rem 0 1rem 1rem;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #a7d0ab;
  border-radius: 1rem 1rem 0 0;
}

/* div {
  position: absolute;
} */
.footer-clean {
  padding: 50px 0;
  background-color: #899f7f;
  color: #d2dbcd;
  margin-top: 5rem;
}

.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-clean ul a:hover {
  opacity: 1;
}

.footer-clean .item.social {
  text-align: right;
}

@media (max-width: 767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align: center;
  }
}
.footer-clean .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item.social > a:hover {
  opacity: 0.9;
}

@media (max-width: 991px) {
  .footer-clean .item.social > a {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
}
.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}

/* Credit to https://epicbootstrap.com/snippets/footer-with-columns */
.wrapper {
  height: 100vh;
}
@media (max-width: 768px) {
  .wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 4rem;
    margin-top: 5rem; */
    margin-bottom: 13rem;
  }
}

.logo-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 25;
  margin: 3rem 0 0 0;
}
@media (max-width: 768px) {
  .logo-container {
    position: relative;
    margin-bottom: 2rem;
  }
}
.logo-container img {
  width: 5rem;
  margin: 1rem 0 2rem 0;
}

.services-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 65vh;
  width: 100%;
}
@media (max-width: 768px) {
  .services-container {
    display: flex;
    flex-direction: column;
  }
}
.services-container h2 {
  line-height: 1.5rem;
  font-size: 2rem;
  color: #00b594;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .services-container h2 {
    position: relative;
    margin: 0 0 2rem 0;
  }
}
.services-container img {
  width: 5vw;
}
@media (max-width: 768px) {
  .services-container img {
    width: 5vw;
  }
}
.services-container .service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 3rem;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .services-container .service {
    position: relative;
    gap: 1rem;
  }
}
.services-container .service a {
  background: #899f7f;
  text-align: center;
  width: 65%;
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  color: black;
  opacity: 0.8;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .services-container .service {
    position: relative;
  }
}
.services-container .service a:hover {
  opacity: 1;
}
@media (max-width: 768px) {
  .services-container .service {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .services-container {
    display: flex;
    flex-direction: column;
  }
}

.admin-container {
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 768px) {
  .admin-container {
    flex-direction: column;
    margin-top: 15rem;
  }
}
.admin-container .admin-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.admin-container .admin-boxes img {
  width: 30vw;
}
@media (max-width: 768px) {
  .admin-container .admin-boxes img {
    width: 90vw;
  }
}
.admin-container .admin-boxes a {
  color: #899f7f;
  text-align: center;
  margin-top: 1rem;
  width: 20vw;
  height: 1.5rem;
  background-color: white;
  border-radius: 10px;
}

.login-register-homepage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 30vw;
}
.login-register-homepage a {
  width: 200px;
}
@media (max-width: 768px) {
  .login-register-homepage {
    flex-direction: row;
    width: 100%;
  }
}

.logo-container-corner {
  position: absolute;
  top: 20;
  left: 20;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.logo-container-corner img {
  width: 50px;
}
.logo-container-corner h2 {
  color: #00b594;
}
@media (max-width: 768px) {
  .logo-container-corner {
    display: none;
  }
}

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 768px) {
  .form-wrapper {
    gap: 1rem;
    margin-top: 2rem;
  }
}

.registration-form-container {
  width: 90vw;
  background: white;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  gap: 5rem;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}
@media (max-width: 768px) {
  .registration-form-container {
    gap: 2rem;
  }
}

.reg-contact-container {
  display: flex;
  flex-direction: column;
}
.reg-contact-container input {
  height: 2.7rem;
  max-width: 25rem;
  min-width: 20rem;
  border: none;
  outline: none;
  background: #a7d0ab;
  border-radius: 10px;
  padding: 1rem;
}

.reg-password-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}
.reg-password-container .register-btn {
  margin-top: 5rem;
  background: #899f7f;
  cursor: pointer;
  height: 4rem;
}
@media (max-width: 768px) {
  .reg-password-container .register-btn {
    margin-top: 2rem;
  }
}
.reg-password-container input {
  height: 2.7rem;
  max-width: 25rem;
  min-width: 20rem;
  border: none;
  outline: none;
  background: #a7d0ab;
  border-radius: 10px;
  padding: 1rem;
}

.registration-error {
  color: gray;
  font-size: 0.7rem;
  z-index: 12000;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-wrapper .login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  width: 60vw;
  text-align: center;
  padding: 1rem;
  margin-bottom: 7rem;
}
@media (max-width: 768px) {
  .login-wrapper .login-container {
    width: 80vw;
  }
}
.login-wrapper .login-container h2 {
  color: #00b594;
}
.login-wrapper .login-container p {
  color: gray;
  margin-bottom: 1rem;
}
.login-wrapper .login-container p a {
  color: #a7d0ab;
  text-decoration: none;
}
.login-wrapper .login-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 2.4rem;
  width: 70%;
  padding-top: 2rem;
  margin-bottom: 1rem;
}
.login-wrapper .login-container form input {
  height: 2.7rem;
  width: 100%;
  border: none;
  outline: none;
  background: #a7d0ab;
  border-radius: 10px;
  padding: 0.7rem;
}
@media (max-width: 768px) {
  .login-wrapper .login-container form input {
    width: 70vw;
  }
}
.login-wrapper .login-container form .submit-btn {
  cursor: pointer;
  width: 40%;
  background: #899f7f;
}
@media (max-width: 768px) {
  .login-wrapper .login-container form .submit-btn {
    width: 45vw;
  }
}

.booking-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* height: 100vh; */
  /* width: 100%; */
  margin-bottom: 5rem;
}
.booking-wrapper .booking-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  /* height: 100vh; */
  margin-top: 5rem;
  width: 90vw;
}
.booking-wrapper .booking-container .services {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.booking-wrapper .booking-container .services .img-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  z-index: 1251251;
}
.booking-wrapper .booking-container .services .img-container img {
  width: 60%;
}
@media (max-width: 768px) {
  .booking-wrapper .booking-container .services {
    display: none;
  }
}
.booking-wrapper .booking-container .booking-form {
  width: 90vw;
  height: 100%;
  padding-top: 2rem;
  background: white;
  margin-bottom: 2rem;
  padding-top: 2rem;
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .booking-wrapper .booking-container .booking-form {
    padding-top: 4rem;
    margin-bottom: 10rem;
    padding: 1rem;
  }
}
.booking-wrapper .booking-container .booking-form form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  gap: 3rem;
}
.booking-wrapper .booking-container .booking-form .customer-information {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.booking-wrapper .booking-container .booking-form .customer-information input {
  height: 2.7rem;
  max-width: 25rem;
  min-width: 20rem;
  border: none;
  outline: none;
  background: #a7d0ab;
  border-radius: 10px;
  padding: 1rem;
}
@media (max-width: 768px) {
  .booking-wrapper .booking-container .booking-form .customer-information input {
    align-items: center;
  }
}
.booking-wrapper .booking-container .booking-form .service-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
}
@media (max-width: 768px) {
  .booking-wrapper .booking-container .booking-form .service-information {
    width: 90vw;
  }
}
.booking-wrapper .booking-container .booking-form .service-information .submit-btn {
  cursor: pointer;
  width: 40%;
  height: 2rem;
  background: #899f7f;
  color: white;
  font-size: 1rem;
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .booking-wrapper .booking-container .booking-form .service-information .submit-btn {
    width: 45vw;
  }
}
.booking-wrapper .booking-container .booking-form .service-information .radio-btns-one,
.booking-wrapper .booking-container .booking-form .service-information .radio-btns-two {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}
.booking-wrapper .booking-container .booking-form .service-information textarea {
  resize: none;
  width: 100%;
  margin-top: 0.6rem;
  height: 60%;
  padding: 1rem;
}
.booking-wrapper .booking-container .booking-form .submit-booking {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.booking-wrapper .booking-container .booking-form .submit-booking input {
  height: 2.7rem;
  max-width: 25rem;
  min-width: 20rem;
  border: none;
  outline: none;
  background: #a7d0ab;
  border-radius: 10px;
  padding: 1rem;
}

.book-btn {
  outline: none;
  border: none;
  background-color: #899f7f;
  padding: 1rem;
  width: 10rem;
  margin-top: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.book-btn:hover {
  background-color: #a7d0ab;
}

.bookings {
  margin-top: 6rem;
}

.reg-admin-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reg-admin-wrapper .reg-admin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  width: 50vw;
  text-align: center;
  padding: 1rem;
  margin-bottom: 7rem;
}
@media (max-width: 768px) {
  .reg-admin-wrapper .reg-admin-container {
    width: 80vw;
  }
}
.reg-admin-wrapper .reg-admin-container h2 {
  color: #00b594;
}
.reg-admin-wrapper .reg-admin-container p {
  color: gray;
  margin-bottom: 1rem;
}
.reg-admin-wrapper .reg-admin-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 0.7rem;
  width: 70%;
  padding-top: 2rem;
  margin-bottom: 1rem;
}
.reg-admin-wrapper .reg-admin-container form input {
  height: 2.7rem;
  width: 100%;
  border: none;
  outline: none;
  background: #a7d0ab;
  border-radius: 10px;
  padding: 0.7rem;
}
@media (max-width: 768px) {
  .reg-admin-wrapper .reg-admin-container form input {
    width: 70vw;
  }
}
.reg-admin-wrapper .reg-admin-container form .submit-btn {
  cursor: pointer;
  width: 40%;
  background: #899f7f;
}
@media (max-width: 768px) {
  .reg-admin-wrapper .reg-admin-container form .submit-btn {
    width: 45vw;
  }
}

.bookings-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .bookings-container {
    flex-direction: column;
  }
}
.bookings-container .bookings {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 40%;
  height: 25rem;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
}
@media (max-width: 768px) {
  .bookings-container .bookings {
    width: 80%;
  }
}
.bookings-container .bookings a {
  border: #d2dbcd;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #899f7f;
  color: black;
}
.bookings-container .bookings a:hover {
  background-color: #d2dbcd;
  text-decoration: none;
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-container .error-message {
  height: 50%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(to top, #b5d3b2 10%, #cae6be 100%);
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
}
body .bubbles {
  position: absolute;
  width: 100%;
  height: 130%;
  z-index: 0;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
body .bubble {
  position: absolute;
  bottom: -100px;
  width: 40px;
  height: 40px;
  background: #f1f1f1;
  border-radius: 50%;
  opacity: 0.4;
  animation: rise 10s ease-in;
  animation-iteration-count: infinite;
}
body .bubble:nth-child(1) {
  width: 40px;
  height: 40px;
  left: 10%;
  animation-duration: 8s;
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}
body .bubble:nth-child(2) {
  width: 20px;
  height: 20px;
  left: 20%;
  animation-duration: 5s;
  animation-delay: 1s;
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}
body .bubble:nth-child(3) {
  width: 50px;
  height: 50px;
  left: 35%;
  animation-duration: 7s;
  animation-delay: 2s;
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}
body .bubble:nth-child(4) {
  width: 80px;
  height: 80px;
  left: 50%;
  animation-duration: 11s;
  animation-delay: 0s;
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}
body .bubble:nth-child(5) {
  width: 35px;
  height: 35px;
  left: 55%;
  animation-duration: 6s;
  animation-delay: 1s;
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}
body .bubble:nth-child(6) {
  width: 45px;
  height: 45px;
  left: 65%;
  animation-duration: 8s;
  animation-delay: 3s;
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}
body .bubble:nth-child(7) {
  width: 90px;
  height: 90px;
  left: 70%;
  animation-duration: 12s;
  animation-delay: 2s;
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}
body .bubble:nth-child(8) {
  width: 25px;
  height: 25px;
  left: 80%;
  animation-duration: 1;
  animation-delay: 2s;
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}
body .bubble:nth-child(9) {
  width: 15px;
  height: 15px;
  left: 70%;
  animation-duration: 5s;
  animation-delay: 1s;
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}
body .bubble:nth-child(10) {
  width: 90px;
  height: 90px;
  left: 25%;
  animation-duration: 10s;
  animation-delay: 4s;
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}
@keyframes rise {
  0% {
    bottom: -100px;
    transform: translateX(0);
  }
  50% {
    transform: translate(100px);
  }
  100% {
    bottom: 1080px;
    transform: translateX(-200px);
  }
}

::placeholder {
  font-size: 1rem;
}

.error {
  margin: 0;
  font-size: 1rem;
  word-break: keep-all;
  width: 80vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
