.bookings-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  @include for-phone-only {
    flex-direction: column;
  }

  .bookings {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 40%;
    height: 25rem;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;

    @include for-phone-only {
      width: 80%;
    }

    a {
      border: $background-color;
      padding: 0.5rem;
      border-radius: 10px;
      background-color: #899f7f;
      color: black;
    }
    a:hover {
      background-color: $background-color;
      text-decoration: none;
    }
  }
}

// SINGLE BOOKING

.single-booking-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .single-booking-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    @include for-phone-only {
      width: 80vw;
      word-wrap: break-word;
      text-align: center;
      margin-bottom: 2rem;
    }

    h4 {
      color: $primary-font-color;
    }
    p {
      color: black;

      a {
        color: $primary-font-color;
      }
    }
  }
  .single-booking-container {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
    padding: 2rem 2rem 0 2rem;
    border-radius: 10px 10px 0 0;

    @include for-phone-only {
      width: 90vw;
    }
    p {
      span {
        color: $dark-green-color;
        // font-size: 1.2rem;
        font-weight: 900;
      }
    }
  }
  form {
    width: 80vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: white;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 0 0 10px 10px;

    @include for-phone-only {
      width: 90vw;
    }

    input {
      border: none;
      width: 6rem;
      height: 3rem;
      outline: none;
      background-color: #899f7f;
      padding: 0.5rem 1rem;
      border-radius: 10px;
      margin-bottom: 0.5rem;
      cursor: pointer;
    }
  }
}

// !SINGLE BOOKING
