.bubble-one {
  max-width: 100px;
  max-height: 100px;
  background: blue;
}

.bubble-two {
  max-width: 200px;
  max-height: 200px;
  background: green;
}

.bubble-three {
  max-width: 300px;
  max-height: 300px;
  background: red;
}

.bubble-four {
  max-width: 400px;
  max-height: 400px;
  background: orange;
}
